EzerMizion/Web References/idfLocalhost/idfWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectSol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newD" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectSolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectSolResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSolResponse">
        <s:complexType />
      </s:element>
      <s:element name="numOfSol">
        <s:complexType />
      </s:element>
      <s:element name="numOfSolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numOfSolResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="selectSolSoapIn">
    <wsdl:part name="parameters" element="tns:selectSol" />
  </wsdl:message>
  <wsdl:message name="selectSolSoapOut">
    <wsdl:part name="parameters" element="tns:selectSolResponse" />
  </wsdl:message>
  <wsdl:message name="updateSolSoapIn">
    <wsdl:part name="parameters" element="tns:updateSol" />
  </wsdl:message>
  <wsdl:message name="updateSolSoapOut">
    <wsdl:part name="parameters" element="tns:updateSolResponse" />
  </wsdl:message>
  <wsdl:message name="numOfSolSoapIn">
    <wsdl:part name="parameters" element="tns:numOfSol" />
  </wsdl:message>
  <wsdl:message name="numOfSolSoapOut">
    <wsdl:part name="parameters" element="tns:numOfSolResponse" />
  </wsdl:message>
  <wsdl:message name="getIdSoapIn">
    <wsdl:part name="parameters" element="tns:getId" />
  </wsdl:message>
  <wsdl:message name="getIdSoapOut">
    <wsdl:part name="parameters" element="tns:getIdResponse" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getStatus" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="idfWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectSol">
      <wsdl:input message="tns:selectSolSoapIn" />
      <wsdl:output message="tns:selectSolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSol">
      <wsdl:input message="tns:updateSolSoapIn" />
      <wsdl:output message="tns:updateSolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="numOfSol">
      <wsdl:input message="tns:numOfSolSoapIn" />
      <wsdl:output message="tns:numOfSolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getId">
      <wsdl:input message="tns:getIdSoapIn" />
      <wsdl:output message="tns:getIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatusSoapIn" />
      <wsdl:output message="tns:getStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="idfWebServiceSoap" type="tns:idfWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSol">
      <soap:operation soapAction="http://tempuri.org/selectSol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSol">
      <soap:operation soapAction="http://tempuri.org/updateSol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="numOfSol">
      <soap:operation soapAction="http://tempuri.org/numOfSol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getId">
      <soap:operation soapAction="http://tempuri.org/getId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="http://tempuri.org/getStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="idfWebServiceSoap12" type="tns:idfWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSol">
      <soap12:operation soapAction="http://tempuri.org/selectSol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSol">
      <soap12:operation soapAction="http://tempuri.org/updateSol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="numOfSol">
      <soap12:operation soapAction="http://tempuri.org/numOfSol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getId">
      <soap12:operation soapAction="http://tempuri.org/getId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap12:operation soapAction="http://tempuri.org/getStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="idfWebService">
    <wsdl:port name="idfWebServiceSoap" binding="tns:idfWebServiceSoap">
      <soap:address location="https://localhost:44381/idfWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="idfWebServiceSoap12" binding="tns:idfWebServiceSoap12">
      <soap12:address location="https://localhost:44381/idfWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>